@import "./common";

body {
  background-image: url("../assets/site_background.webp");
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("../assets/site_background.webp");
}

main {
  width: 80%;
  margin: auto;
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;

  .card_article {
    display: flex;
    flex-direction: row;
    gap: 24px;
    cursor: pointer;
    padding: 12px;
    border-radius: 16px;
    background: #f4f4f4;
    width: 100%;
    border: solid 1px transparent;

    &:hover {
        border: solid 1px #c1c1c1;
    }

    img {
      border-radius: 10px 0 0 10px;
    }
  }

  h2 {
    margin: 0;
    margin-bottom: 6px;
    font-size: 18px;
  }

  p {
    font-size: 15px;
    line-height: 22px;
    margin: 0;
  }
}
