@import "./common";

body {
  background-image: url("../assets/site_background.webp");
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("../assets/site_background.webp");
}

main {
  width: 80%;
  margin: auto;
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 1200px;
  @media (max-width: 800px) {
    width: 90%;
  }

  section {
    margin-bottom: 16px;

    h2 {
      display: flex;
      flex-wrap: wrap;
      font-size: 20px;
      margin-bottom: 18px;
      
      .trending_in {
        @media (max-width: 400px) {
          display: none;
        }
      }

      .region {
        display: flex;
        margin-left: 6px;
        gap: 6px;
        background: #eeeeee;
        padding: 0 8px;
        border-radius: 4px;
        font-size: 88%;
        align-items: center;
      }
    }
  }

  h2 {
    margin: 0;
    margin-bottom: 12px;
  }

  .cards_container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  .card_image {
    line-height: 0;
    
    img {
      max-height: 210px;
      object-fit: cover;
    }
  }

  .card_article {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-radius: 10px;
    width: 30%;
    border: solid 1px transparent;
    box-sizing: border-box;
    border: solid 1px #ccc;
    @media (max-width: 1100px) {
      width: calc(50% - 12px);
    }
    @media (max-width: 1100px) {
      width: 100%;
    }
    @media (max-width: 520px) {
      flex-direction: column;
    }

    .card_content {
      padding: 12px;
    }

    &:hover {
      background: #e6e6ff68;
    }

    img {
      border-radius: 10px 10px 0 0;
      width: 100%;
      @media (max-width: 520px) {
        border-radius: 10px;
      }
    }

    p {
      @media (max-width: 520px) {
        display: none;
      }
    }

    h3 {
      margin: 0;
      margin-bottom: 6px;
    }

    p {
      font-size: 15px;
      line-height: 22px;
      margin: 0;
      margin-bottom: 8px;
    }

    small {
      padding: 4px 8px;
      border-radius: 8px;
      background: #eeeeee;
      font-size: 12px;
    }
  }
}
